/* General Styles */

body {
    background-color: #f5f5f5; 
}

.navbar {
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,.1); 
}

.nav-item {
    list-style-type: none;
    padding: 0.8em;
}

.nav-link {
    text-decoration: none;
}

.navbar-brand img {
    max-height: 80px; 
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding: 0.8em;
    justify-content: space-around;
}

.nav-link {
    color: #c69663!important; 
    font-size: 1.3em;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px; 
}

main section {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

.poster img {
    margin-top: 10px;
    width: 100%; 
    height: auto; 
    padding: 30px;
}

/* Footer Customization */

footer {
    background-color: #343a40; 
    color: #fff; 
    padding-top: 20px;
    padding-bottom: 20px; 
    text-align: center;
}

footer a {
    color: #ffc107;
}



@media (max-width: 992px) {
    main {
        grid-template-columns: 1fr; 
    }

    .navbar-brand img {
        max-height: 60px;
    }

    .navbar-nav {
        flex-direction: column; /* Stack nav items vertically on smaller screens */
    }

    .nav-item, .nav-link {
        padding: 0.5em; 
    }

    main section, .poster img {
        padding: 10px; 
    }
}
